<hr/>
<hr/>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-4">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" [(ngModel)]="usernameInput" class="form-control" />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" [(ngModel)]="passwordInput" class="form-control" />
		</div>
		<div class="form-group">
			<button type="button" name="login" class="btn btn-block btn-primary" (click)="doLogin()">Do Login</button>
		</div>
	</div>
	<div class="col-lg-6">
		<ul>
		  <li *ngFor="let processLog of processLogs; let i = index">
		    {{processLog}}
		  </li>
		</ul>
	</div>
</div>